    .menu-bar {
  background-color: #ff69b4;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.item {
  color: white;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.item.title {
  font-weight: 600;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none;
  position: relative;
  transition: all 0.5s ease;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #00ff00;
  visibility: hidden;
  clip: rect(0, 0, 0, 0);
  transition: all 0.5s ease;
}

a:hover {
  color: #00ff00;
  animation: neonFlicker 1.5s infinite alternate;
}

a:hover::before {
  visibility: visible;
  clip: rect(0, 900px, 0, 0);
  animation: neonFlicker 1.5s infinite alternate;
}

@keyframes neonFlicker {
  0%, 100% {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #ff00ff, 0 0 20px #ff00ff, 0 0 25px #ff00ff, 0 0 30px #ff00ff, 0 0 35px #ff00ff;
  }
  50% {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #ff00ff, 0 0 20px #ff00ff, 0 0 25px #ff00ff, 0 0 30px #ff00ff, 0 0 35px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 75px #ff00ff;
  }
}